# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Node / Frontend
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Project Specific
backend/app/ml/models/*.pkl
data/*.csv
*.log
